name = "awesome-image"
compatibility_date = "2025-12-31"
main = "src/index.ts"
compatibility_flags = ["nodejs_compat"]

# Bind R2 bucket
[[r2_buckets]]
binding = "IMAGES"
bucket_name = "img-cache-bucket"
preview_bucket_name = "img-cache-bucket-dev"

[vars]
ALLOWED_HOSTS = "raw.githubusercontent.com,proxy.dobuki.net,jacklehamster.github.io"
MAX_BYTES = "10485760"          # 10 MiB
MAX_DIM = "4096"                # clamp w/h
MAX_PIXELS = "16777216"         # 4096*4096
CACHE_VERSION = "v1"
PURGE_TOKEN = "change-me-long-random"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true
